doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title アンケート一覧
  body
  h1 アンケート一覧<br>
   a(href="/enquetes/yaki-shabu" target="blank") 焼き肉・しゃぶしゃぶ<br>
   a(href="/enquetes/rice-bread" target="blank") ごはん・パン<br>
   a(href="/enquetes/sushi-pizza" target="blank") 寿司・ピザ<br>